@model IEnumerable<ChaapClubMajorProject.Models.YourChoice>
@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4" style="margin-bottom:50px;">All Your Choices</h1>
    </div>

<div class="row" style="margin-bottom:50px;">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card w-100">
                <center>
                    <img src="~/slide/plate.png" alt="" style="width:100%">
                </center>
                <div class="card-body">
                    <h5 class="card-text">
                        @item.ChoiceName
                    </h5>
                    <a class="btn btn-primary" asp-action="ViewFoodByYourChoice" asp-route-id="@item.ChoiceID">View Product</a>
                </div>

            </div>
        </div>
    }
</div>